.Header{
    background-color: wheat;
    margin-bottom: 2rem;
}

.Header__logo{
    height: 4rem;
}

.Header__título{
font-family: 'Permanent Marker', cursive;
}

.contadorCarrito{
    margin-right: 0.8rem;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5rem;
    color: rgb(225, 36, 77);
}

.Home{
    padding: 2rem;
    text-align: center;
}

.Home__titulo{
    font-size: 2.8rem;
    color: white;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 2rem;

}

.Home__subtitulo{
    font-family: "Oswald", sans-serif;
    color: white;
}
.Menu{
    padding-left: 4rem;
    font-family: 'Permanent Marker', cursive;
}

.Botones{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    background-color: rgb(9, 8, 8);
}
.productos{
    padding: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 12rem;
    
}

.btn2{
    height: 4rem;
    font-family: 'Fjalla One', sans-serif;
}

.btnCarrito{
    background-image: url(./img/caarito2.jpg);
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 2rem;
}
.btnCarrito:hover{
    transform: scale(1.2);
}

.imgEliminar{
    height: 2rem;
    width: 2rem;
}

.imgAñadirCarrito{
    height: 3rem;
    width: 3rem;
}
.imgAñadirCarrito:hover{
    transform: scale(1.2);
}

.productoEnCarrito{
    text-align: center;
    font-size: 1.5rem;

}
.precioTotal{
    padding: 1rem;
    font-size: 1.2rem;
}

.card{
    text-align: center;
    background-color: wheat;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
}

.card-title{
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
}

.vaciarCarrito{
    width: 8rem;
    margin-left: 1rem;
}

.Nosotros{
    padding: 2rem;
}

.titulo_form{
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.form{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.Footer{
    background-color: wheat;
    padding: 1.3rem;
    display: flex;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
}

.Footer__desc{
    margin-right: 1.5rem;
}

.Footer__desc2{
    color: black;
}




